DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB_NAME?sslmode=require&channel_binding=require
BETTER_AUTH_SECRET=  #for generating a secret please refer to this guide https://better-auth.com/docs/installation
BETTER_AUTH_URL=http://localhost:3001 #default port for a frontend app
NEXT_PUBLIC_API_URL=http://localhost:3000